bin/
debug/
release/
x64/
artifacts/
.vscode/
res/libsodium.a
res/libsodium/libsodium*
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zcl-qt-wallet
zcl-qt-wallet.app
zcl-qt-wallet-mingw*
zcl-qt-wallet.vcxproj*
zcl-qt-wallet.sln
zcl-qt-wallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
zcl-qt-wallet_plugin_import.cpp
zcl-qt-wallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
*.plist
zclassicd