Package: zcl-qt-wallet
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Aditya Kulkarni <zclassic@adityapk.com>
Description: zcl-qt-wallet is a full node and UI wallet for Zclassic.
 zcl-qt-wallet is a full node and UI wallet for Zclassic. It comes with
 full support for shielded addresses and many apps for Zclassic.
