Package: zkc-qt-wallet
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Aditya Kulkarni <zkcore@adityapk.com>
Description: zkc-qt-wallet is a full node and UI wallet for zkCore.
 zkc-qt-wallet is a full node and UI wallet for zkCore. It comes with
 full support for shielded addresses and many apps for zkCore.
